/* Basic styles for the page */
body {
    font-family: Garamond;
    margin: 0;
    padding: 0;
}

/* Table of contents styles */
.toc {
    position: sticky;
    top: 0px;
    left: 0px;
    width: 400px;
    background-color: #f4f4f4;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 0;
}

.toc h2 {
    margin-top: 0;
}

.toc ul {
    display: flex;           /* Apply flexbox layout */
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    align-content: space-between;    
    list-style-type: none;   
    padding-left: 0px;         
}

.item {
    flex-grow: 1; /* This item will grow to take up available space */
  }

.toc li {
    margin-bottom: 10px;
}

.toc a {
    text-decoration: none;
    color: #7a7c7a;
    font-size: 20px;
}

.toc a:hover {
    color: #09ec09; /* Example: Change text color to tomato */
}

/* Styles for content sections */
.content {
    margin-left: 0px;
    padding: 0px;
}

section {
    margin-bottom: 0px;
}

h2 {
    color: #333;
}

/* Sticky TOC on scroll */
.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
}
